.main {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.wrapper {
  position:relative;
}

.wrapper > div {
  width: 250px;
  height: 250px;
  position: absolute;
  text-align: center;
  line-height: 250px;
  margin-left: -175px;
}

.freezer {
  background-color: rgba(233, 229, 244, 0.85);
  z-index: calc(infinity);
  top: 0;
  left: 0;
}

.mob {
  position: absolute;
  background-color: #f9f9f9;
  z-index: 5;
  top: 100px;
  left: 100px;
}

.wrapper-freeza {
  z-index: 1;
}